.about {
    background-color: #209E44;
    color: white;

    padding: 20px 100px 50px 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.about div {
    margin-right: 10vw;
}

.about p {
    font-size: 1em;
}

.about a {
    text-decoration: none;

    color: white;
    font-size: 1em;
    font-weight: 600;

    padding: 10px;

    background-color: #F8D348;
    border-radius: 10px;
}

.about a:hover {
    background-color: #E53A40;
    color: #F8D348;
}

@media screen and (max-width: 768px) {
    .about {
        padding: 10px 50px 50px 50px;
        text-align: center;
    }

    .about div {
        margin-right: 0;
    }

    .about img {
        display: none;
    }
}