nav {
    background-color: #E53A40;
    color: white;

    position: sticky;
    overflow: hidden;
    z-index: 10;
    box-sizing: unset;
    top: 0;

    display: flex;
    justify-content: left;
    align-items: center;
    
    height: 3em;
    padding: 10px 100px 10px 100px;

    border-bottom: 10px solid #F8D348;
}

img {
    padding: 10px;
}

.navbar-title {
    display: none;

    color: white;
    font-size: 1.75em;
    font-weight: bold;
    justify-self: flex-start;

    padding: 10px;
}

.navbar-side {
    margin-left: auto;
}

.navbar-button {
    text-decoration: none;

    color: white;
    font-size: 1.5em;
    font-weight: 600;

    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.2s ease;
}

.navbar-button:hover {
    background-color: #F8D348;
}

@media screen and (min-width: 768px) {
    .navbar-title {
            display: block;
    } 
}

@media screen and (max-width: 768px) {
    footer {
        display: block;
        flex: none;
    }
}

footer {
    background-color: #209E44;
    color: white;

    display: flex;
    justify-content: left;
    align-items: center;
    box-sizing: unset;
    
    height: 1.5em;
    padding: 10px;
    margin: 0 0 0 0;

    border-top: 10px solid #F8D348;
}

.footer-button {
    text-decoration: none;

    color: white;
    font-size: 1.5em;
    font-weight: 600;

    padding: 5px;
}