.testimoni {
    background-color: #E53A40; 
    padding: 20px;
    border-radius: 10px;
}

.testimoni div {
    background-color: #0D62AB; 
    display: flex;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
}

.testi2:hover {
    background-color: #F8D348; 
    color:#E53A40;
}

.testimoni img {
    flex: none;
    
    width: 15vw;
    height: 15vw;
    object-fit: cover;

    border-radius: 10px;
}

@media screen and (max-width: 600px) {
    .testimoni img {
        width: 30vw;
        height: 30vw;
    }
    
}

.testimony-title {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

/*Pilihan warna: 
Red: #E53A40
Yellow: #F8D348
Green: #209E44
Blue: #0D62AB
*/