* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: oswald, sans-serif;
    background-color: #a4c2a5;
}

header {
    background-color: #1d6438;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.menu-section {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 20px auto; 
    display: flex;
    flex-direction: column; 
}

.menu-grid-1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 2px;
    justify-items: center; 
    align-items: center; 
    width: 1000px;
    max-width: 1200px;
    margin: 0 auto; 
    margin-bottom: 20px;
}


.menu-item {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
    width: 230px;
    height: 240px;
    margin: 0 auto; 
}

.menu-title {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 25px;
    color: #654321; 
}

.menu-title span {
    color: #E1DE32;
}

.menu-item img {
    width: 120px;
    height: 120px;
    border-radius: 5px; 
}

.menu-item p {
    font-size: 15px;
    font-weight:500;
    margin: 10px 0;
}

.menu-item span {
    font-size: 1rem;
    color: #d99b3c;
    font-weight: bold;
}

.menu-item:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .menu-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .menu-title {
        font-size: 2.5rem;
    }

    .menu-item img {
        max-width: 150px; 
    }
}

@media (max-width: 480px) {
    .menu-title {
        font-size: 2rem;
    }
    
    nav ul li a {
        font-size: 14px;
    }

    .menu-item img {
        max-width: 120px;
    }
}

.menu-item:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .menu-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}

@media (max-width: 480px) {
    .menu-title {
        font-size: 2rem;
    }
    
    nav ul li a {
        font-size: 14px;
    }
}
